{% extends "hello/base.html" %}

{% block pagetitle %} Main Page {% endblock %}

{% block csslinks %} 
<link rel="stylesheet" type="text/css" href="/static/hello/style.css">    
{% endblock %}


{% block content %}
    <div class="left">
        <div>Name: {{person.name}}</div>
        <div>Last name: {{person.surname}}</div>
        <div>Date of birth: {{person.birth_date}}</div>
        <div>Bio: <pre>{{person.bio}}</pre></div>
    </div>
    <div class="right">
        <div>Contacts</div>
        <br>
        <div>Email: {{person.email}}</div>
        <div>Jabber: {{person.jabber}}</div>
        <div>Skype: {{person.skype}}</div>
        <div>Other contacts: <pre>{{person.contacts}}</pre></div>
    </div>
    <div><a name="edit_page_link" href="{% url 'edit' %}">edit</a></div>
    

{% endblock %}

